body {
    padding: 1rem;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 #character-div div {
  display: inline-block;
 }

 #character-div div img {
  width: 50px;
 }